
<!--<h1>About</h1>-->
<h1>Hello, I'm Tim Mullen. </h1>
<h2>I like to build things and get stuff done.</h2>

<p>I am a father, front-end software engineer, email marketing professional, and aspiring nerd extraordinaire. I am a major proponent of data-driven decision making and the value of a feedback loop in customer-centric product development. </p>

<p>Solving complex problems, building simple solutions, and making them memorable enough to stand out in an expanding field of competition is challenging. My marketing experience in A/B and multivariate testing along with detailed usage and use case analysis can be a powerful driver of continuous improvement in increased acquisition, conversion, and retention rates when applied to front-end engineering and design. <a routerLink="/contact">Contact me</a> to learn more or discuss potential projects.</p>
