.lbg {
    background-image: url('../assets/images/side.jpg');
    background-position: bottom left;
    background-size:cover;
    position:fixed;
    top:0;
    bottom:0;
}
.ctnt {
    position:relative;
    min-height:100vh;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.innit {
    align-items: center;
    margin:auto;
    display: -webkit-flex;
    display: flex;
    min-height: 75%;
    width:90%;
    justify-content: center;
}
.fixit {
    display:inline-block;
    width:100%;
}

@media screen and (max-width:768px) {
    .lbg {
        position:relative;
        height:18vh;
        min-height:200px; 
        background-position:90% 90%;
    }
    .ctnt {
        position:relative;
    }
}
.social-links {
    position:absolute;
    bottom:20px;
    right:20px;
}
.social-links a {
    margin-left:8px;
    color:#FFF;
    opacity:1;
}
.social-links a:hover {
    border-bottom: 2px solid #FFF;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.spinit {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 100ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 100ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 100ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}